{% extends "base.html.twig" %}

{% block title %}API Routes{% endblock %}

{% block body %}
    <header>
    <h1>API Routes</h1>
    </header>

    <ul>
        <li><a href="{{ path('api_quote') }}">Quote</a></li>
    </ul>
{% endblock %}
