{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="two-col-layout">
        <main class="main">
            <article class="article">
                <header>
                    <h1>About</h1>
                    <p class="author">Skriven av Josefine Thorsson, uppdaterad <time datetime="2024-04-26">2024-04-26</time>.</p>
                </header>

                <figure class="figure center">
                    <img src="img/mvc.jpg" width="300" alt="Kursbild">
                    <figcaption>MVC-kursen VT2024</figcaption>
                </figure>

                <p>
                Kursen Objektorienterade webbteknologier (MVC) 채r en objektorienterad kurs
                i webbteknologier med fr채msta fokus p책 PHP.
                Den behandlar olika delar s책som objektorienterade konstruktioner,
                programmering i ett webbaserat ramverk, databaser och enhetstestning.
                </p>
            </article>
        </main>

        <aside class="aside">
            <h4>Kursen</h4>
            <ul>
                <li><a href="https://github.com/dbwebb-se/mvc">MVC kursrepo</a></li>
                <li><a href="https://github.com/JosefineThorsson/MVC">Josefines kursrepo</a></li>
            </ul>
        </aside>
    </div>
{% endblock %}
