{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home</h1>

    <p>
        Hej!
        Mitt namn är Josefine Thorsson.
        Jag är 27 år gammal och kommer från Göteborg.
        Bor här tillsammans med min sambo.
        Tillsammans gillar vi att sitta på cafe med våra datorer, läsa och umgås med vänner.
    </p>
        
    <p>
        Tidigare pluggat mycket på universitet inom diverse områden sen gymnasiet.
        När jag väl börja jobba så insåg jag dock att jag saknade kunskap om programmering och förståelse för nätverk och datorer som behövdes.
        Då valde jag att först plugga en sommarkurs i Python och insåg att jag var rätt bra på att lära mig det.
        Sen upptäckte jag distansprogrammet i Webbprogrammering 120hp som väckte mitt intresse då det bland annat innehöll en kurs i verifiering/testning.
        Något som jag prövat på lite i ett tidigare jobb (manuella tester i Linuxmiljö),
        utan att egentligen ha någon tidigare erfarenhet eller utbildning.
        Detta gjorde att jag saknade full förståelse för sammanhanget.
    </p>            

    <img src="{{ asset('img/me2.jpeg') }}" width="300" alt="">

    <p>
        Ser framemot att lära mig massa nytt!
    </p>
{% endblock %}
